/* REGOLE DI RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* REGOLE GENERALI */
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.inline-block {
    display: inline-block;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px;
}

.vertical-align-mid {
    vertical-align: middle;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.text-align-center {
    text-align: center;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

/* REGOLE SITE-TOP */
section .app {
    height:calc(100vh - 80px);
    display: flex;
}


/* REGOLE ASIDE */
.aside-container {
    width:200px;
    height: 100%;
    min-height: 400px;
    background-color:#000000;
    color: white;
}

.nav-aside-top {
    height:calc(100% - 50px);
}

.logo {
    min-height: 60px;
}

.logo img {
   padding: 1rem;
}

.lists-container .main-list {
    padding:1rem 0;
}


.lists-container .main-list li {
    padding: 0.2rem 1rem;
}

.lists-container .main-list .selected {
    border-left: 0.2rem solid #adff2f;
    padding:0.2rem 0.8rem;
}

.lists-container .main-list img {
    width: 20%;
    vertical-align: middle;
    margin-right: 0.5rem;
    opacity: 0.5;
  }

.lists-container .secondary-list {
    min-height: 50px;
    padding: 1rem;
}

.lists-container .secondary-list ul li {
    padding: 0.6rem 0;
}

.lists-container .secondary-list h3 {
    margin-bottom: 0.4rem;
}

.lists-container .secondary-list i {
    margin-right:0.5rem;
    vertical-align: middle;
}

.nav-aside-bottom {
    height: 50px;
    padding: 0 1rem;
}

.nav-aside-bottom img {
    width: 10%;
    vertical-align: middle;
}


/* REGOLE MAIN */
.main-container {
    width: calc(100% - 200px);
    height: 100%;
    background-color:#141922;
    color: white;
    padding-top: 60px;
    overflow:auto;
}

.call-to-action {
    width:calc(100% - 200px);
    /* height: 60px; */
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    top: 0;
    right: 0;
    text-align: right;
    z-index: 5;
    padding: 1.5rem 0;
}

.call-to-action a {
    border: 1px solid white;
    padding: 0.5rem 2.5rem;
    border-radius: 30px;
    margin-right: 0.5rem;
}

.menu-nav-main {
    text-align: center; 
}

.menu-nav-main ul li {
    display: inline-block;
    padding: 0.6rem;
    font-size: 0.8rem;
    position: relative;
}


.active:after {
    height: 3px;
    width: 35px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: block; 
    background-color: #adff2f;
}

.recently-played {
    padding: 1rem;
}

.foryou-playlist {
    padding: 1rem;
}

.popular-artists {
    padding: 1rem;
}

.card-container {
    flex-wrap: wrap;
    margin:0 -0.2rem;
}

.card-container .card {
    width:calc((100% / 6) - 0.4rem);
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    min-height: 120px;
}

.card .card-photo {
    border: 1px dashed black;
    position: relative;
}

.card-container .card img {
    width: 100%;
    display: block;
}

.card:hover .overlay {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container .card .card-text h3 {
    margin:0.5rem 0;
    font-size:1rem;
}

.main-container h4 {
    opacity: 0.5;
    font-size: 0.8rem;
}

/* REGOLE SECTION PLAYER */
section .player-container {  
    height: 80px;
    background-color:#282828;
    justify-content: space-between;
    color: white;
    position: relative;
    z-index: 5; 
}

/* SONG */
.player-container .song {
    padding: 0.5rem;
}

.player-container .song img {
    height: 80%;
    margin-right: 0.5rem;
}

.player-container .song .album-description {
    padding: 0 0.4rem;
}

.player-container .song .album-description h3 {
    font-size: 0.8rem;
}

.player-container .song .album-description h4 {
    font-size: 0.6rem;
}

.player-container .song .icon {
    padding: 0 0.5rem;
}

/* CONTROLLER */
.controller-top ul li {
    display: inline-block;
    font-size:2rem;
    padding: 0 0.8rem;
}

.controller-top ul .bigger {
    font-size:2.5rem;
}

.controller-bottom {
    justify-content: space-between;
    align-items: center;
}

.controller-bottom .time-bar {
    height: 0.3rem;
    border-radius: 0.3rem;
    background-color: white;
    cursor: pointer;
    flex-grow: 1;
}

/* AUDIO */
.player-container .audio {
    border: 1px dashed black;
}


/* MEDIUM */
@media screen and (max-width:1100px) {
    .recently-played .card,
    .foryou-playlist .card,
    .popular-artists .card {
        width: calc((100% / 4) - 0.4rem);
    }    
}

/* SMALL */
@media screen and (max-width:700px) {
    .recently-played .card,
    .foryou-playlist .card,
    .popular-artists .card {
        width: calc((100% / 2) - 0.4rem);
    }    
}

/* X-SMALL */
@media screen and (max-width:600px) {
    .app .aside-container {
        width: 50px;
    }

    .main-container {
        width: calc(100% - 50px);
    }
}