/* REGOLE DI RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

/* REGOLE GENERALI */
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.container1000 {
    max-width: 1000px;
    margin:0 auto;
}

.container1100 {
    max-width: 1100px;
    margin:0 auto;
}

.container1200 {
    max-width: 1200px;
    margin:0 auto;
}

.inline-block {
    display: inline-block;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px;
}

.vertical-align-mid {
    vertical-align: middle;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.text-align-center {
    text-align: center;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

/* REGOLE SITE-TOP */
.site-top {
    height:calc(100% - 80px);
}


/* REGOLE ASIDE */
.aside-container {
    width:200px;
    height: 100%;
    background-color:#000000;
    color: white;
}

.logo {
    min-height: 60px;
}

.logo img {
   padding: 1rem;
}

.lists-container .main-list {
    padding:1rem 0;
}


.lists-container .main-list li {
    padding: 0.2rem 1rem;
}

.lists-container .main-list .selected {
    border-left: 0.2rem solid #adff2f;
    padding:0.2rem 0.8rem;
}

.lists-container .main-list img {
    width: 20%;
    vertical-align: middle;
    margin-right: 0.5rem;
    opacity: 0.5;
  }

.lists-container .secondary-list {
    min-height: 50px;
    padding: 1rem;
}

.lists-container .secondary-list ul li {
    padding: 0.6rem 0;
}

.lists-container .secondary-list h3 {
    margin-bottom: 0.4rem;
}

.lists-container .secondary-list i {
    margin-right:0.5rem;
    vertical-align: middle;
}

.nav-aside-bottom {
    height: 50px;
    border: 1px dashed black;
    padding: 1rem;
}

.nav-aside-bottom img {
    width: 10%;
    vertical-align: middle;
}


/* REGOLE MAIN */
.main-container {
    width: calc(100vw - 200px);
    height: 100%;
    background-color:#141922;
    color: white;
    padding-top: 60px;
    overflow:auto;
}

.call-to-action {
    width:calc(100% - 200px);
    /* height: 60px; */
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    top: 0;
    right: 0;
    text-align: right;
    z-index: 5;
    padding: 1.5rem 0;
}

.call-to-action a {
    border: 1px solid white;
    padding: 0.5rem 2.5rem;
    border-radius: 30px;
    margin-right: 0.5rem;
}

.menu-nav-main {
    text-align: center; 
}

.menu-nav-main ul li {
    display: inline-block;
    padding: 0.6rem;
    font-size: 0.8rem;
}

.recently-played {
    padding: 1rem;
}

.foryou-playlist {
    padding: 1rem;
}

.popular-artists {
    padding: 1rem;
}

.card-container {
    flex-wrap: wrap;
    margin:0 -0.2rem;
}

.card-container .card {
    width:calc((100% / 6) - 0.4rem);
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    min-height: 120px;
}

.card .card-photo {
    border: 1px dashed black;
    position: relative;
}

.card-container .card img {
    width: 100%;
    display: block;
}

.card:hover .overlay {
    display: block;
}

.card-container .card .card-text h3 {
    margin:0.5rem 0;
    font-size:1rem;
}

.main-container h4 {
    opacity: 0.5;
    font-size: 0.8rem;
}

/* REGOLE SECTION PLAYER */
.site-bottom {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color:#282828;
}

.player-container {
    justify-content: space-between; 
}

.player-container .song {
    width: 25%;
    border: 1px dashed black;
}

.player-container .controller {
    width: 50%;
    border: 1px dashed black;
}

.player-container .audio {
    width: 25%;
    border: 1px dashed black;
}



@media screen and (max-width:1100px) {
    .recently-played .card {
        width: calc((100% / 4) - 0.4rem);
    }    
}
