/* REGOLE DI RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* REGOLE GENERALI */
.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.inline-block {
    display: inline-block;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px;
}

.vertical-align-mid {
    vertical-align: middle;
}

ul {
    list-style: none;
}

a {
    color: #999999;
    text-decoration: none;
}

.text-align-center {
    text-align: center;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

/* REGOLE SITE-TOP */
section .app {
    height:calc(100vh - 80px);
    display: flex;
    overflow: hidden;
}


/* REGOLE ASIDE */
.aside-container {
    width:200px;
    height: 100%;
    min-height: 400px;
    background-color:#000000;
    color: white;
    overflow:hidden;
}

.nav-aside-top {
    height:calc(100% - 50px);
    overflow: hidden;
    flex-direction: column;
}

.logo  .big-logo {
   padding: 1rem;
}

.logo  .small-logo {
    display: none;
    padding: 0.5rem;
}

.main-list {
    padding:1rem 0;
}


.main-list li {
    padding: 0.2rem 1rem;
}

.main-list .selected {
    border-left: 0.2rem solid #adff2f;
    padding-left: 0.8rem;
}

.main-list img {
    height: 30px;
    vertical-align: middle;
    margin-right: 0.5rem;
    opacity: 0.5;
}

.main-list li a span {
    vertical-align: middle;
}

.secondary-list {
    padding: 0 1rem;
    flex-direction: column;
    overflow: hidden;
}

.secondary-list ul {
    height: 100%;
    overflow: auto;
}

.secondary-list ul li {
    padding: 0.6rem 0;
}

.secondary-list h3 {
    margin-bottom: 0.4rem;
}

.secondary-list i {
    margin-right:0.5rem;
    vertical-align: middle;
}

.nav-aside-bottom {
    height: 50px;
    padding: 0 1rem;
}

.nav-aside-bottom img {
    width: 10%;
    vertical-align: middle;
}

.nav-aside-bottom span {
    vertical-align: middle;
}

.nav-aside-bottom .install {
    border-bottom: 1px solid #999999;
    padding: 0.3rem 0;
    font-size: 0.8rem;
}

.nav-aside-bottom .profile img {
    background-color: #999999;
    border-radius: 50%;
}

.nav-aside-bottom .profile a {
    color: white;
    display: block;
}

/* Regole Hover aside */
.secondary-list ul li:hover a {
    color: white;
}

.secondary-list span:hover a {
    color: white;
}

.main-list ul li:not(:first-child):hover {
    border-left: 0.2rem solid #adff2f;
    padding-left: 0.8rem;
}

.main-list ul li a:hover img {
    opacity: 1;
}

.nav-aside-bottom .install:hover a {
    color: white;
}

/* Fine hover aside */


/* REGOLE MAIN */
.main-container {
    width: calc(100% - 200px);
    height: 100%;
    background-color:#141922;
    color: white;
    padding-top: 60px;
    overflow:auto;
}

.call-to-action {
    width:calc(100% - 200px);
    /* height: 60px; */
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    top: 0;
    right: 0;
    text-align: right;
    z-index: 5;
    padding: 1.5rem 0;
}

.call-to-action a {
    border: 1px solid white;
    padding: 0.5rem 2.5rem;
    border-radius: 30px;
    margin-right: 0.5rem;
    color: white;
    transition: transform .2s;
}

.menu-nav-main {
    text-align: center; 
}

.menu-nav-main ul li {
    display: inline-block;
    padding: 0.6rem;
    font-size: 0.8rem;
    position: relative;
}

.menu-nav-main ul li a:hover {
    color: white;
}

.active:after {
    height: 3px;
    width: 35px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: block; 
    background-color: #adff2f;
}

.recently-played {
    padding: 1rem;
}

.foryou-playlist {
    padding: 1rem;
}

.popular-artists {
    padding: 1rem;
}

.card-container {
    flex-wrap: wrap;
    margin:0 -0.2rem;
}

.card-container .card {
    width:calc((100% / 6) - 0.4rem);
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    min-height: 120px;
}

.card .card-photo {
    border: 1px dashed black;
    position: relative;
}

.card-container .card img {
    width: 100%;
    display: block;
}

.card:hover .overlay {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container .card .card-text h3 {
    margin:0.5rem 0;
    font-size:1rem;
}

.main-container h4 {
    opacity: 0.5;
    font-size: 0.8rem;
}

/* REGOLE SECTION PLAYER */
section .player-container {  
    height: 80px;
    background-color:#282828;
    justify-content: space-between;
    color: white;
    position: relative;
    z-index: 5; 
}

/* SONG */
.player-container .song {
    padding: 0.5rem;
    width: 25%;
}

.player-container .song img {
    height: 80%;
    margin-right: 0.5rem;
}

.player-container .song .album-description {
    padding: 0 0.4rem;
    margin-right: 1rem;
}

.player-container .song .album-description h3 {
    font-size: 0.8rem;
}

.player-container .song .album-description h4 a {
    font-size: 0.6rem;
    color: #999999;
    display: block;
}

.player-container .song .icon {
    padding: 0 0.5rem;
    color: #999999;
}

.player-container .song .icon a {
    display: block;
    margin-right: 0.5rem;
}

/* CONTROLLER */
.controller {
    width: 50%;
}

.controller-top ul li {
    display: inline-block;
    font-size:2rem;
    padding: 0 0.8rem;
}

.controller-top ul li a {
    color: white;
}

.controller-top ul .bigger {
    font-size:2.5rem;
    transition: scale 0.4s;
}

.controller-bottom {
    justify-content: space-between;
    align-items: center;
}

.controller .controller-bottom {
    font-size: 0.6rem;
}

.controller-bottom .time-go {
    text-align:right;
    width: 10%;
}

.controller-bottom .time-tot {
    text-align:left;
    width: 10%;
}

.controller-bottom .time-bar {
    height: 0.3rem;
    width: 70%;
    border-radius: 0.3rem;
    background-color:#999999;
    cursor: pointer;
}

.controller-bottom .time-bar .time-start {
    height:100%;
    width: 20%;
    border-radius: 0.3rem;
    position: relative;
    background-color: white;
}

.time-bar .time-start .time-start-point {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: none;
}

/* AUDIO */
.player-container .audio {
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.6rem;
    width: 25%;
}

.player-container .audio .audio-volume {
    justify-content:center;
    align-items: center;
    width: 50%;
}

.player-container .audio a {
    padding-right: 0.8rem;
}

.audio .audio-volume .audio-bar {
    height: 0.2rem;
    width: 60%;
    border-radius: 0.2rem;
    background-color:#999999;
    cursor: pointer;
}

.audio .audio-volume .audio-bar .volume-level {
    height: 100%;
    width: 40%;
    border-radius: 0.2rem;
    background-color: white;
    position: relative;
}

.audio-bar .volume-level .time-start-point {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: white;
    position: absolute;
    top: 50%;
    right: 0;
    display: none;
}

/* regole hover section player */
.song .album-description h4 a:hover {
    color: white;
    text-decoration: underline;
}

.controller-bottom .time-bar:hover .time-start {
    background-color: #adff2f;
} 

.controller-bottom .time-bar:hover .time-start-point {
    display: block;
} 

.audio-bar:hover .volume-level {
    background-color: #adff2f;
} 

.audio-bar:hover .time-start-point {
    display: block;
} 

.player-container .song .icon a:hover {
    color: white;
}

.audio > a:hover {
    color: white;
}

.controller-top ul .bigger:hover {
    scale: 1.2;
}

/* MEDIUM */
@media screen and (max-width:1100px) {
    .recently-played .card,
    .foryou-playlist .card,
    .popular-artists .card {
        width: calc((100% / 4) - 0.4rem);
    }    
}

/* SMALL */
@media screen and (max-width:700px) {
    .recently-played .card,
    .foryou-playlist .card,
    .popular-artists .card {
        width: calc((100% / 2) - 0.4rem);
    }  
    
    .player-container .song .icon {
        flex-wrap: wrap;
    }
}

/* X-SMALL */
@media screen and (max-width:600px) {

    .app .aside-container {
        width: 50px;
    }

    .main-container {
        width: calc(100% - 50px);
    }

    .call-to-action {
        width:calc(100% - 50px);
    }

    .logo .big-logo {
        display: none;
    }

    .logo .small-logo {
        display:block;
    }

    .main-list ul li span {
        display: none;
    }

    .secondary-list {
        display: none;
    }

    .main-list li,
    .main-list .selected {
        padding-left: 0.5rem;
    }

    .main-list .selected {
        border-left:none;
    }

    .nav-aside-bottom span {
        display: none;
    }

    .nav-aside-bottom .install {
        border: none;
    }

    .nav-aside-bottom img {
        width: 100%;
    }
}